/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
audio, canvas, video {
  display: inline-block; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
[hidden] {
  display: none; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
a:focus {
  outline: thin dotted; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
a:active, a:hover {
  outline: 0; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
h1 {
  font-size: 2em; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
b, strong {
  font-weight: 700; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
dfn {
  font-style: italic; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
q {
  quotes: \201C \201D \2018 \2019; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
small {
  font-size: 80%; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
sup {
  top: -0.5em; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
sub {
  bottom: -0.25em; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
img {
  border: 0; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

/* line 1, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
button, input {
  line-height: normal; }

/* line 2, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 2, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 2, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

/* line 2, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/* line 2, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 2, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 2, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 2, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
body, figure {
  margin: 0; }

/* line 2, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 4, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* line 6, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
* {
  box-sizing: border-box; }

/* line 8, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

/* line 12, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
h1 {
  font-size: 44px;
  margin-bottom: 20px 0; }

/* line 17, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
h2 {
  font-size: 32px;
  text-align: center;
  margin: 0;
  margin-bottom: 18px; }

/* line 24, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
h3 {
  font-size: 24px;
  margin-top: 0; }

/* line 29, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
h4 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 0.5em; }

/* line 35, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
p {
  font-size: 16px;
  margin: 0; }

/* line 40, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
img {
  max-width: 100%; }

/*Sections*/
/* line 45, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
header, footer {
  text-align: center; }

/* line 49, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.demo-elements, .demo-abs, .readme, .versionHistory {
  width: 90%;
  padding: 0 5%;
  padding-bottom: 2%;
  margin: 0 auto; }

/* line 56, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.demo-abs {
  position: relative; }

/* line 60, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.hoverContainer, .hoverContainer-abs {
  width: 100%; }

/* line 64, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.hoverContainer {
  position: relative; }

/*=====================================
ELEMENTS
=====================================*/
/* line 72, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.demo-elements h2, .demo-elements h3 {
  text-align: center; }

/* line 77, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.hoverInfo {
  opacity: 0; }

/* line 81, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.col {
  width: 50%;
  padding: 2%;
  float: left; }

/* line 87, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.circleBox {
  width: 75px;
  height: 75px;
  border: 4px solid #232323;
  border-radius: 50%; }

/* line 94, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.circleBox1 {
  margin-bottom: 1em; }

/* line 98, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.info {
  width: 200px;
  padding: 2.5%;
  border: 3px solid black;
  position: absolute; }
  /* line 104, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
  .info p {
    font-size: 14px; }

/* line 109, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.info1 {
  top: 0;
  left: 100px; }

/* line 114, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.info2 {
  bottom: 3px;
  width: 100%;
  border: none;
  background: rgba(35, 35, 35, 0.75);
  color: white;
  font-weight: 700; }

/*=====================================
CAPTIONING
=====================================*/
/* line 126, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.hoverContainer-abs {
  position: absolute; }

/* line 130, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.circle-small {
  width: 35px;
  height: 35px;
  border: 4px solid black;
  border-radius: 50%;
  background: rgba(235, 235, 235, 0.5); }

/* line 138, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.feature1 {
  top: 40%;
  left: 22%; }

/* line 143, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.feature2 {
  top: 50%;
  left: 75%; }

/* line 148, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.caption {
  color: #ebebeb;
  width: 200px;
  padding: 1%;
  background: #2c3e50;
  position: absolute;
  box-shadow: 0 0 2px rgba(35, 35, 35, 0.35); }
  /* line 156, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
  .caption p {
    font-size: 14px; }

/* line 161, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.caption1 {
  top: 0;
  left: 50px; }

/* line 166, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
.caption2 {
  top: 0;
  left: -225px; }

/* line 171, C:/Users/winston/Dropbox/Personal/HackerYou W2015/Week 6/WEEK 6 PROJECT/styles/styles.scss */
pre {
  margin: 0; }
/*# sourceMappingURL=styles.css.map */